<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
     photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*bMgQ8MhbnQexpqHgIgBJPA.png"
     cardTitle="Novo homem projeto ANGULAR" 
     cardDescription="O angular surgiu em 2016, com nome angular JS, e a cada 6 meses uma nova versão surge."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    photoCover="https://hermes.dio.me/articles/cover/2fa40c61-2f1a-43f6-aaf1-fd8949d8dd2a.jpg"
    cardTitle="Titulo Novo"
    ></app-small-card>
  </div>
</div>
