<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*bMgQ8MhbnQexpqHgIgBJPA.png"
      alt=""
      height="250px"
      srcset=""
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        sequi rerum quasi quia. Ex quae quas quo eveniet laborum, illum
        repudiandae, nam, architecto eligendi iure dolorem? Eos inventore vitae
        unde?
      </a>
    </p>
  </div>
</div>
