<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://media.istockphoto.com/id/1222357475/pt/vetorial/image-preview-icon-picture-placeholder-for-website-or-ui-ux-design-vector-illustration.jpg?s=612x612&w=0&k=20&c=XWY8vqr8nILQ1m5svRomYshJ3DsMrud26mf1jj4BVLk="
      alt=""
      height="250px"
      srcset=""
    />
  </div>
  <div class="big-card__title">
    <h1>Saiu a nova versão do angular</h1>
  </div>
  <div class="big-card__description">
    <p>mensagem teste para mostrar textos</p>
  </div>
</div>
